# Sample mirror.toml configuration file for mctl
# This file defines repositories to be synchronized by the mctl tool

# Example of a basic repository configuration
[[repositories]]
origin = "git@github.com:username/repo1.git"
path = "path/to/local/repo1"

# Example with a specific branch
[[repositories]]
origin = "git@github.com:username/repo2.git"
path = "path/to/local/repo2"
branch = "develop"

# Example of a commented repository (will be skipped)
# [[repositories]]
# origin = "git@github.com:username/repo3.git"
# path = "path/to/local/repo3"

# You can organize repositories with comments
### Project A ###
[[repositories]]
origin = "git@github.com:organization/project-a-api.git"
path = "project-a/api"

[[repositories]]
origin = "git@github.com:organization/project-a-web.git"
path = "project-a/web"

### Project B ###
[[repositories]]
origin = "git@github.com:organization/project-b-core.git"
path = "project-b/core"